<p-panel header="Notizen" styleClass="notizen">
	<p-header>
		<i class="fa fa-chevron-circle-up header-icon" aria-hidden="true"></i>
		<i class="fa fa-plus header-icon" aria-hidden="true"></i>
	</p-header>
	<ul>
		<li>
			<span class="metainfo">
        4.5.2017 16:49 | u210719
      </span>
			<div class="row">
				<div class="col-12">
					<i class="fa fa-chevron-down header-icon" aria-hidden="true"></i>
          Anfrage für Kündigungstermin
				</div>
			</div>
		</li>
		<li>
			<span class="metainfo">
        4.5.2017 16:55 | u210719
      </span>
			<div class="row">
				<div class="col-12">
					<i class="fa fa-chevron-down header-icon" aria-hidden="true"></i>
          Beschwerde wegen Rechnungsstellung
				</div>
			</div>
		</li>
	</ul>
</p-panel>